

<div class='container'>
	<h1 >
	 Reactive Contact Form Example
</h1>
	<form 
		[formGroup]='contactForm'
		(ngSubmit)='onSubmit()'
		class='form'
	>
		<input
			type='text'
			name='fullName'
			placeholder='Your full name'
			formControlName='fullName'
		>
		
		
		<input 
			type='text'
			name='email'
			placeholder='Your email'
			formControlName='email'
		>
		
		
		<textarea
			name='message'
			placeholder='Your message'
			formControlName='message'
			rows='5'
		></textarea>
		
		
		<input 
			type='submit'
			value='Send'
		>
	</form>
</div>

<app-second-reactive-form></app-second-reactive-form>